/* Mise en forme des "balises" */
body{
    background-color: rgb(232, 228, 228);
    padding: 3%;
    font-family: 'Balsamiq Sans', cursive;  
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #46755A;
    border-radius: 10px;
    margin-bottom: 3%;
    height: 10vh;
    width: 100%;
    color: rgb(231, 229, 229);   
}

.headerRight{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    background-color: white;
    width: 25%;
    border: solid #46755A 5px;
    border-radius: 50%;
    margin-left: 5%;
    
}

h1{
    display: block;
    margin: 0 0 0 3%;
    height: 10%;
}

h2{
    margin: 0 0% 0 15%;
    width: 100%;
    font-size: 1.75rem;
}


footer{
    border: solid #46755A 1px;
    margin-top: 3%;
    height: 7vh;
    width: 100%;
    border-radius: 5px;
    background-color: #46755A;
}

/* Mise en forme des "classes" */



.entreprise{
    background-color: #46755A;
    padding: 1.7% 1% 0% 1%;
    margin-bottom: 3%;
    border-radius: 10px;
    /* border: solid #DDF5E7 1px; */
}

    .entrepriseHaut{
        display: flex;
        justify-content: space-between;
        /* color: white; */
        background-color: rgb(218, 213, 213);
        padding: 1.7% 3% 2% 3%;
        border-radius: 10px;
        border: solid #46755A 1px;
        margin-bottom: 1%;

    }

    .buttonEntreprise{
        background-color: rgb(231, 229, 229);;
        height: 35%;
        border: solid #46755A 1px;
        border-radius: 10px;
        text-transform: uppercase;
        padding: 0.5% 1% 0.5% 1%;
        margin-bottom: 1%;
        /*font-weight: bold;*/
        font-size: 1.5rem;
        font-family: 'Balsamiq Sans', cursive;
        cursor: pointer; 
        color:black;
    }

        .entrepriseHaut img{
            width:9% ;
            border: solid black 2px ;
            border-radius: 5px;
            background-color: black;
        }

        .entrepriseHautDiv{
            margin-bottom: 2.5%;
            font-size: 1.5rem;
        }

        .nomEntreprise{
            font-weight: bold;
            font-size: 1.7rem;
            text-transform: uppercase;
        }

        .buttonDeconnexionDiv{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 15%;
        }

    .entrepriseBas{
        display: flex;
        justify-content: space-evenly;
    }

    .buttonDeconnexion{
        background-color: #46755A;
        height: 35%;
        width: 100%;
        border-radius: 10px;
        text-transform: uppercase;
        padding: 1% 10% 1% 10%;
        margin-bottom: 3%;
        font-weight: bold;
        font-size: 100%;
        color: white;
        font-family: 'Balsamiq Sans', cursive; 
        cursor: pointer;
    }


.containerOnglet{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
}

.containerSousOnglet{
    display: flex;
    justify-content: flex-start;
   
}

.containerContenu{
    padding: 2% 1.5% 1% 1.5%;
    border: solid #6A756E 1px;
    border-top: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 100vh;
    background-color:  rgb(231, 229, 229);
}

.onglet{
    border: solid 
    rgb(226, 211, 172)
     1px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 1% 2% 1% 2% ;
    margin: 0 0.5% 0 0;
    width: calc(100%/6);
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color:black;
    font-size: 1.38rem; 
    cursor: pointer;
}

.sousOnglet{
    display: block;
    border: solid rgb(124, 99, 80) 1px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 1% 2% 1% 2% ;
    margin: 0 0.3% 0 0;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.sousContenus{
    border: solid #DDF5E7 1px;
    border-top: none;
    width: 98%;
    background-color:white;
    padding: 1.5% 1.5% 1.5% 1.5%;
}


.buttonNew{
    background-color: rgb(231, 229, 229);;
    height: 35%;
    border: solid #46755A 1px;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 0.5% 1% 0.5% 1%;
    margin-bottom: 3%;
    /*font-weight: bold;*/
    font-size: 1.5rem;
    font-family: 'Balsamiq Sans', cursive;
    cursor: pointer; 
    color:#46755A;
}

    /* Mise en forme pour JS */

    .none{
        display: none;
    }

    .contenu{
        display: block;
    }

    .ongletSelect{
        background-color:#46755A;
        border: solid #46755A 1px;
        border-bottom: none;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        padding: 1% 2% 1% 2% ;
        margin: 0 0.5% 0 0;
        width: calc(100%/6);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        text-shadow:black 10px 0 10px;
        color: rgb(224, 224, 224);
        font-size: 1.38rem;   
    }

    .sousOngletSelect{
        display: block;
        border: solid #46755a4d 1px;
        border-bottom: solid #DDF5E7 1px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        padding: 1% 2% 1% 2% ;
        margin: 0 0.3% 0 0;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        color:black;
        text-shadow:black 0px 0px 10px;
        background-color:#DDF5E7;
        
    }

    .buttonDiv{
        display: flex;
        justify-content: space-between;
    }

    .buttonLeft{
        width: 75%;
    }

    .buttonIntLeft{
        height: 50%;
        margin-right: 2%;
    }

    .buttonRight{
        width: 2%;
    }

    .buttonRefresh{
        width: 110%;
        height: 50%;
        padding: 1% 1% 1% 1%;
    }

    .iconRefresh{
        width: 80%;
    }

/* mise en forme des "id" */

/* Mise en forme des tableau "table" */

table {
    margin-top: 0.75%;
    border: medium solid #000000;
    border-collapse: collapse;
    }

th {
    background-color: #46755A;
    border: 0.5px solid black;
    color: black;
    cursor: pointer;
}    

tr:nth-child( 2n+2){
    background-color: #e7f8ee;
    border: solid black 1px;
    
    
}

tr:nth-child( 2n+1){
    background-color: white;
   
}

    
tr:nth-child( 2n+2) td {
    border-right: 0.5px solid black;
    
}

.col18, .col19, .col20{
    width: 2.5%;
}

tr:nth-child( 2n+1) td{
 border-right: 0.5px solid  black;

}

td {
    width: min-content;
}

.iconEdit{
    width: 50px;
    margin: 0;
}

/* Mise en forme des "hover" */

.onglet:hover{
    background-color:rgba(0, 0, 0, 0.7) ;
}

.buttonDeconnexion:hover{
    background-image: none;
    background-color:rgba(0, 0, 0, 0.7) ;
}

.sousOnglet:hover{
    background-color:rgba(0, 0, 0, 0.6) ;
    color: white;
}

.buttonNew:hover{
    background-color:rgba(0, 0, 0, 0.6) ;
    color: white;
}

.buttonEntreprise:hover{
    background-color:rgba(0, 0, 0, 0.6) ;
    color: white;
}

  
  